%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    = link_to 'CMS', root_path, class: 'navbar-brand'
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        %li.nav-item
          = link_to 'Home', home_path, class: 'nav-link active'
        %li.nav-item
          = link_to 'Courses', courses_path, class: 'nav-link'
        %li.nav-item.dropdown
          %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
            Categories
          %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
            - categories.each do |category|
              %li
                = link_to category.name, courses_path(category: category.id), class: 'dropdown-item'
      -#%form.d-flex
      -#  %input.form-control.me-2{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
      -#  %button.btn.btn-outline-success{:type => "submit"} Search
      %div.navbar-nav
        - if current_user
          = link_to "#{is_admin? ? 'Admin' : 'Student'} Account Settings", edit_user_registration_path, class: 'nav-link'
          = link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link'
        - else
          = link_to 'Sign Up', new_user_registration_path, class: 'nav-link'
          = link_to 'Login', new_user_session_path, class: 'nav-link'

